<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests" thread-count="2">

    <test name="Nokia 3.1 Plus">
    <parameter name="platformName" value="Android"/>
    <parameter name="deviceName" value="Nokia 3.1 Plus"/>
    <parameter name="platformVersion" value="9"/>
    <parameter name="udid" value="ROOGADA911511705"/>
    <parameter name="port" value="4723"/>
    <parameter name="systemPort" value="8210"/>
    <classes>
        <class name="global.APP.starter.Runner"/>
    </classes>
</test>

<!--    <test name="Nokia 3.1 Plus">-->
<!--        <parameter name="platformName" value="Android"/>-->
<!--        <parameter name="deviceName" value="Nokia 3.1 Plus"/>-->
<!--        <parameter name="platformVersion" value="9"/>-->
<!--        <parameter name="udid" value="ROOGADA911511705"/>-->
<!--        <parameter name="port" value="4722"/>-->
<!--        <parameter name="systemPort" value="8211"/>-->
<!--        <classes>-->
<!--            <class name="global.APP.starter.Runner"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>